<a routerLink="">
  <img src="./assets/images/contraloriaLogo.png" height="100">
</a>
<p-menubar [model]="items" [style]="menu">
  <ng-template pTemplate="start">
 
  </ng-template>
  <ng-template pTemplate="end">
    <div class="container-fluid">
        <span class="p-input-icon-right mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Buscar"  class="text-base text-color surface-overlay  border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </span>
    </div>
  </ng-template>
</p-menubar>