<div class="layout-sidebar" [ngClass]="collapsed ? 'sidebar-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="openSideMenu()">
            <i class="pi pi-bars"></i>
        </button>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSideMenu()">
            <i class=" fa-times pi pi-times"></i>
        </button>
    </div>
    <ul class="layout-sidebar-nav">
        <li class="layout-sidebar-nav-item">
            <a (click)="navigateUSer()"  class="layout-sidebar-nav-link" >
                <i class="layout-sidebar-link-icon pi pi-user"></i>
                <span class="layout-sidebar-link-text"> Usuarios</span>
            </a>
        </li>

        <li class="layout-sidebar-nav-item">
            <a href="" class="layout-sidebar-nav-link">
                <i class="layout-sidebar-link-icon pi pi-ticket"></i>
                <span class="layout-sidebar-link-text"> Tickets</span>
            </a>
        </li>
    </ul>
</div>