<p-toast></p-toast>

<div class="p-1 m-3">
  <div class="card">
    <p-dataView #dv [value]="ticketsList" [paginator]="true" [rows]="9" filterBy="tittle" layout="grid">
      <ng-template pTemplate="header">


        <div class="row flex align-items-center">
          <div class="col-xxl-6 col-md-6">
            <h5 class="card-title-one">Tus Tickets </h5>
          </div>

          <div class="col-xxl-6 col-md-6 col-xs-2 flex justify-content-end">
            <span class="p-input-icon-right mb-2 md:mb-0 m-3">
              <i class="pi pi-search"></i>
              <input type="search" pInputText placeholder="Buscar"
                class="text-base text-color surface-overlay  border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </span>
            <button pButton pRipple label="Nuevo Ticket" icon="pi pi-ticket" style="background-color: #b3e5fc;
                  color:#23547b ;"
              class="border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
              (click)="openNew()"></button>
          </div>
        </div>
      </ng-template>

      <ng-template let-ticketsList pTemplate="gridItem">
        <div class="p-1 m-3">
          <div class="col-12 md:col-4">
            <div class="card info-card "
              [class]="(ticketsList.status ? ticketsList.status.toUpperCase() : '') +'-card'">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown">
                  <i class="pi pi-ellipsis-h"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>ACCIONES</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Ver Mas información</a></li>

                </ul>
              </div>

              <div class="card-body">

                <h5 class="card-title">{{ticketsList .title}} <span>| Fecha de creación: {{ticketsList
                    .createdAt}}</span></h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon exclamation-card-card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="pi pi pi-send" style="font-size: 2rem" *ngIf="ticketsList.status == 'n'"></i>
                    <i class="pi pi-spin pi-sync" style="font-size: 2rem" *ngIf="ticketsList.status == 'a'"></i>
                    <i class="pi pi-check-circle" style="font-size: 2rem" *ngIf="ticketsList.status == 'r'"></i>
                    <i class="pi pi-ban" style="font-size: 2rem" *ngIf="ticketsList.status == 'c'"></i>

                  </div>
                  <div class="ps-3 ticket-description">
                    <h6>{{ticketsList .description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vero
                      voluptatem necessitatibus? Expedita nisi enim pariatur ab accusamus! Enim nulla deserunt tempore
                      exercitationem
                      ipsum eaque quod voluptate non beatae temporibus! lo </h6>
                  </div>
                </div>

              </div>
              <div class="m-2">
                <div class="d-flex justify-content-end  align-items-baseline">
                  <span class="text-muted medium pt-1 p-2">Estado: </span>
                  <span [class]="'status-badge status-' + (ticketsList.status ? ticketsList.status.toUpperCase() : '')"
                    *ngIf="ticketsList.status == 'n'">nuevo</span>
                  <span [class]="'status-badge status-' + (ticketsList.status ? ticketsList.status.toUpperCase() : '')"
                    *ngIf="ticketsList.status == 'a'">en proceso</span>
                  <span [class]="'status-badge status-' + (ticketsList.status ? ticketsList.status.toUpperCase() : '')"
                    *ngIf="ticketsList.status == 'r'">resuelto</span>
                  <span [class]="'status-badge status-' + (ticketsList.status ? ticketsList.status.toUpperCase() : '')"
                    *ngIf="ticketsList.status == 'c'">cerrado</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
<p-dialog [(visible)]="newTicketDialog" [style]="{width: '450px'}" header="Nuevo Ticket" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="title">Título</label>
      <input type="text" pInputText id="name" required autofocus [(ngModel)]="ticket.title" />
      <small class="p-error">Título del ticket requerido.</small>
    </div>
    <div class="field">
      <label for="inventoryStatus">Estado Ticket</label>



      <p-dropdown [options]="ticketsList" inputId="inventoryStatus" placeholder="Select">
        <ng-template let-ticketsList.status pTemplate="item">
          <span class="text-muted medium pt-1 p-2">Estado: </span>
          <span [class]="'status-badge status-N'">NUEVO</span>
        </ng-template>
      </p-dropdown>
      <div class="field">
        <label for="description">Descripción del ticket</label>
        <textarea id="description" pInputTextarea required rows="3" cols="20"
          [(ngModel)]="ticket.description"></textarea>
      </div>


    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text" (click)=" closeDialog()"></button>
    <button pButton pRipple label="Enviar" icon="pi pi-check" class="p-button-text" (click)="saveTicket()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>