 .filter {
     position: absolute;
     right: 0px;
     top: 15px;
 }

 .filter .icon {
     color: #aab7cf;
     padding-right: 20px;
     padding-bottom: 5px;
     transition: 0.3s;
     font-size: 16px;
 }

 .filter .icon:hover,
 .filter .icon:focus {
     color: #4154f1;
 }

 .filter .dropdown-header {
     padding: 8px 15px;
 }

 .filter .dropdown-header h6 {
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 600;
     letter-spacing: 1px;
     color: #aab7cf;
     margin-bottom: 0;
     padding: 0;
 }

 .filter .dropdown-item {
     padding: 8px 15px;
 }

 .card {
     margin-bottom: 20px;
     border: none;
     border-radius: 5px;
     box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
 }

 .card-header,
 .card-footer {
     border-color: #ebeef4;
     background-color: #fff;
     color: #798eb3;
     padding: 15px;
 }

 .card-title {
     padding: 20px 0 15px 0;
     font-size: 18px;
     font-weight: 500;
     color: #012970;
     font-family: "Poppins", sans-serif;
 }
 .card-title-one{
    padding: 20px 0 15px 0;
    font-size: 30px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

 .card-title span {
     color: #899bbd;
     font-size: 14px;
     font-weight: 400;
 }

 .card-body {
     padding: 0 20px 20px 20px;
 }

 .card-img-overlay {
     background-color: rgba(255, 255, 255, 0.6);
 }

 /* Info Cards */
 .info-card {
     padding-bottom: 10px;
 }


 .info-card h6 {
     font-size: 20px;
     color: #0F2A44;
     font-weight: 700;
     margin: 0;
     padding: 0;
 }


 .card-icon {
     font-size: 32px;
     line-height: 0;
     width: 64px;
     height: 64px;
     flex-shrink: 0;
     flex-grow: 0;
 }


 .N-card .card-icon {
    background-color: #b3e5fc;
    color: #23547b;
 }


 .A-card .card-icon {
    background-color: #ffd8b2;
    color: #805b36;
 }


 .R-card .card-icon {
    background-color: #c8e6c9;
    color: #256029;
 }

 .C-card .card-icon {
    background-color: #ffcdd2;
    color: #c63737;
}

 .status-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
.status-badge.status-N {
    background-color: #b3e5fc;
    color: #23547b;
    height: 25px;
}
.status-badge.status-A {
    background-color: #ffd8b2;
    color: #805b36;
    height: 25px;
}
.status-badge.status-R {
    background-color: #c8e6c9;
    color: #256029;
    height: 25px;
}
.status-badge.status-C {
    background-color: #ffcdd2;
    color: #c63737;
    height: 25px;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #805b36;
    }
   
}

@keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

.button-new-ticket{
background-color: #0F2A44;
color:#fd778b ;
}
