<div class="p-5">
    <div class="grid">
        <div class="container">
            <div class="flex align-items-center justify-content-center  overflow-hidden">
                <div class="flex flex-column align-items-center justify-content-center">
                    <div
                        style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg,#FFC700 10%, #2e5aac 50%, #d13204 70%);">
                        <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                            <div class="text-center mb-5">
                                <img src="/assets/images/logocgr.png" alt="Image" height="100" class="mb-3">
                            </div>

                            <div>
                                <div class="row">
                                    <div class="col-xxl-6 col-md-6">
                                        <label for="name" class="block text-xl font-medium mb-2"
                                            style="color: #0F2A44">Nombre</label>
                                        <input id="name" type="text" placeholder="Nombre" pInputText
                                            class="w-full md:w-30rem mb-5" style="padding:1rem" [(ngModel)] ="user.name">
                                    </div>
                                    <div class="col-xxl-6 col-md-6">
                                        <label for="email" class="block text-xl font-medium mb-2"
                                            style="color: #0F2A44">Corrreo electrónico</label>
                                        <input id="email" type="text" placeholder="Corrreo electrónico" pInputText
                                            class="w-full md:w-30rem mb-5" style="padding:1rem" [(ngModel)] ="user.email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-6 col-md-6">
                                        <label for="password1" class="block text-xl font-medium mb-2"
                                            style="color: #0F2A44">Contraseña</label>
                                        <p-password id="password1" placeholder="Contraseña" styleClass="mb-5"
                                            inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false" [(ngModel)] ="user.password"></p-password>
                                    </div>
                                    <div class="col-xxl-6 col-md-6">
                                        <label for="password2" class="block text-xl font-medium mb-2"
                                            style="color: #0F2A44">Confirmar Contraseña</label>
                                        <p-password id="password2" placeholder="Contraseña" styleClass="mb-5"
                                            inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false"></p-password>
                                    </div>
                                </div>

                                <div class="flex align-items-center justify-content-center mb-5 ">
                                    <div class="row">
                                        <label for="password2" class="block text-lg font-medium"
                                            style="color: #0F2A44">¿Ya
                                            tienes una cuenta?</label>
                                       
                                    </div>
                                    <a (click)="routerLogin()" class="font-medium text-base  ml-2  cursor-pointer"
                                    style="color: #0F2A44" >Inicia Sesión</a>
                                </div>
                                <button pButton pRipple label="Registrate" class="w-full p-3 text-xl"
                                    style="color: #fff; background:#2e5aac; " (click)="saveUser()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-toast></p-toast>