<div id="container">
    <div class="header">
        <img src="../../assets/images/BannerW.png" alt="Banner CGR" class="image">
        <h1><strong>SUPERINTENDENCIAS</strong></h1>

    </div>
    <div class="secondpart">
        <div class="formconsult">
            <div class="row flex align-items-center">
                <div class="col-xxl-4 col-md-4">
                    <div class="animation">
                        <a href="https://www.supersolidaria.gov.co/es/content/atencion-al-usuario" target="_blank">
                            <div class="card info-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center">

                                        <img src="../../assets/images/negocios-y-finanzas.png" alt=""
                                            class="image-gruop">
                                        <h5>SUPERINTENDENCIA DE ECONOMIA SOLIDARIA</h5>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-8 col-md-8">
                    <div class="card-info">
                        La Supersolidaria es una Entidad técnica del Estado que trabaja por la sostenibilidad de las
                        organizaciones, la protección de los derechos de los asociados y de la comunidad en general.
                        Puedes conocer sus canales disponibles para tramitar tus PQRSD en Supersolidaria a través del
                        siguiente enlace <a href="https://www.supersolidaria.gov.co/es/content/atencion-al-usuario"
                            target="_blank">Atencion al usuario | Supersolidaria</a>

                    </div>

                </div>
                <div class="col-xxl-4 col-md-4">
                    <div class="animation">
                        <a href="https://www.supersociedades.gov.co/web/guest/atencion-y-servicios-a-la-ciudadania"
                            target="_blank">
                            <div class="card info-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center">

                                        <img src="../../assets/images/group.png" alt="" class="image-gruop">


                                        <h5>SUPERINTENDENCIA DE SOCIEDADES</h5>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-8 col-md-8">
                    <div id="contanier">
                        <div class="card-info">
                            La Superintendencia de Sociedades es un organismo técnico, que se encarga de la inspección,
                            vigilancia y control de las sociedades mercantiles, así como las facultades que le señala la
                            ley en relación con otros entes, personas jurídicas y personas naturales. Puedes tramitar
                            tus PQRSD a través del siguiente enlace <a
                                href="https://www.supersociedades.gov.co/web/guest/atencion-y-servicios-a-la-ciudadania"
                                target="_blank">Atención y servicios a la ciudadanía - Inicio
                                (supersociedades.gov.co)</a>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row flex align-items-center">
                <div class="col-xxl-4 col-md-4">
                    <div class="animation">
                        <a href="https://www.superfinanciera.gov.co/jsp/61646" target="_blank">
                            <div class="card info-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center">

                                        <img src="../../assets/images/impuesto.png" alt="" class="image-gruop">
                                    <h5>SUPERINTENDENCIA FINANCIERA</h5>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-xxl-8 col-md-8">
                    <div class="card-info">
                        La Superintendencia Financiera de Colombia tiene por objetivo supervisar el sistema financiero
                        colombiano con el fin de preservar su estabilidad, seguridad y confianza, así como, promover,
                        organizar y desarrollar el mercado de valores colombiano y la protección de los inversionistas,
                        ahorradores y asegurados. Puedes acceder a los servicios de la Superfinanciera a través del
                        siguiente enlace <a href="https://www.superfinanciera.gov.co/jsp/61646"
                            target="_blank">Superintendencia Financiera de Colombia (superfinanciera.gov.co)</a>

                    </div>

                </div>
                <div class="col-xxl-4 col-md-4">
                    <div class="animation">
                        <a href="https://www.supernotariado.gov.co/atencion-servicios-ciudadania/atencion-servicios-ciudadania/"
                            target="_blank">
                            <div class="card info-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center">

                                        <img src="../../assets/images/notario.png" alt="" class="image-gruop">
                                        <h5>SUPERINTENDENCIA NOTARIADO Y REGISTRO</h5>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-8 col-md-8">
                    <div id="contanier">
                        <div class="card-info">
                            La Superintendencia Delegada para el Notariado, ejerce las funciones de Orientación,
                            Inspección, Vigilancia y Control Notarial, en ese sentido, orienta e instruye sobre la
                            aplicación de las normas que rigen la actuación notarial, de conformidad con las directrices
                            impartidas por el Superintendente de Notariado y Registro. Puedes acceder a los servicios a
                            través de este enlace <a
                                href="https://www.supernotariado.gov.co/atencion-servicios-ciudadania/atencion-servicios-ciudadania/"
                                target="_blank">Atención y Servicios a la Ciudadanía - Superintendencia de Notariado y
                                Registro (supernotariado.gov.co)</a>


                        </div>
                    </div>

                </div>
            </div>
            <div class="row flex align-items-center">
                <div class="col-xxl-4 col-md-4">
                    <div class="animation">
                        <a href="https://www.sic.gov.co/atencion-al-ciudadano/canales-de-atencion" target="_blank">
                            <div class="card info-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center">

                                        <img src="../../assets/images/cadena-de-valor.png" alt="" class="image-gruop">
                                        <h5>SUPERINTENDENCIA DE INDUSTRIA Y COMERCIO</h5>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-8 col-md-8">
                    <div class="card-info">
                        La Superintendencia de Industria y Comercio es la autoridad nacional de protección de la
                        competencia, los datos personales y la metrología legal, protege los derechos de los
                        consumidores y administra el Sistema Nacional de Propiedad Industrial, a través del
                        ejercicio de
                        sus funciones administrativas y jurisdiccionales. Puedes conocer los canales disponibles
                        para la
                        atención ciudadana a a través de este enlace <a
                            href="https://www.sic.gov.co/atencion-al-ciudadano/canales-de-atencion" target="
                        ">Atención al ciudadano </a>


                    </div>

                </div>
                <div class="col-xxl-4 col-md-4">
                    <div class="animation">
                        <a href="https://www.supersalud.gov.co/es-co/Paginas/Oficina%20de%20Comunicaciones/campa%C3%B1as/que-es-la-supersalud/index.html"
                            target="_blank">
                            <div class="card info-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center">

                                        <img src="../../assets/images/informe-medico.png" alt="" class="image-gruop">
                                        <h5>SUPERINTENDENCIA NACIONAL DE SALUD</h5>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-8 col-md-8">
                    <div id="contanier">
                        <div class="card-info">
                            La Superintendencia de Salud es una institución que busca proteger los derechos de los
                            usuarios del Sistema General de Seguridad Social en Salud, por medio de la inspección,
                            vigilancia, control y principalmente en el ejercicio de la función jurisdiccional y de
                            conciliación, todo esto de manera transparente y oportuna. Puedes conocer los canales
                            disponibles para la atención ciudadana a a través de este enlace <a
                                href="https://www.supersalud.gov.co/es-co/Paginas/Oficina%20de%20Comunicaciones/campa%C3%B1as/que-es-la-supersalud/index.html"
                                target="_blank">Conozca más de la
                                Superintendencia Nacional de Salud (supersalud.gov.co)</a>


                        </div>
                    </div>

                </div>
            </div>
            <div class="row flex align-items-center">
                <div class="col-xxl-4 col-md-4">
                    <div class="animation">
                        <a href="https://sedeelectronica.supervigilancia.gov.co/SedeElectronica/" target="_blank">
                            <div class="card info-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center">

                                        <img src="../../assets/images/policia.png" alt="" class="image-gruop">
                                    <h5>SUPERINTENDENCIA DE VIGILANCIA Y SEGURIDAD PRIVADA</h5>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-8 col-md-8">
                    <div class="card-info">
                        La Supervigilancia es una entidad encargada de ejercer control, inspección y vigilancia
                        sobre
                        los servicios de vigilancia y seguridad privada en Colombia. Puedes acceder a los servicios
                        de
                        la Supervigilancia a través del siguiente enlace <a
                            href="https://sedeelectronica.supervigilancia.gov.co/SedeElectronica/" target="_blank">Superintendencia
                            de vigilancia y seguridad privada
                            </a>

                    </div>

                </div>
                <div class="col-xxl-4 col-md-4">
                    <div class="animation">
                        <a href="https://www.ssf.gov.co/web/guest/atencion-al-ciudadano" target="_blank">
                            <div class="card info-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center">

                                        <img src="../../assets/images/familia.png" alt="" class="image-gruop">
                                        <h5>SUPERINTENDENCIA DE SUBSIDIO FAMILIAR</h5>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-8 col-md-8">
                    <div id="contanier">
                        <div class="card-info">
                            Es la entidad de orden nacional que ejerce inspección, vigilancia y control sobre la
                            administración de los recursos del Sistema del Subsidio Familiar y la gestión de los
                            programas y servicios que se financian con los mismos, para que lleguen a los
                            trabajadores
                            de medianos y menores ingresos y sus familias, así como a la población focalizada con
                            los
                            programas especiales del gobierno.Puedes acceder a los servicios de Supersubsidio a
                            través
                            de este enlace <a href="https://www.ssf.gov.co/web/guest/atencion-al-ciudadano"
                                target="_blank">Atención al ciudadano - SuperSubsidio (ssf.gov.co)</a>

                        </div>
                    </div>

                </div>
            </div>
            <div class="row flex align-items-center">
                <div class="col-xxl-4 col-md-4">
                    <div class="animation">
                        <a href="https://www.superservicios.gov.co/Atencion-y-servicios-a-la-ciudadania"
                            target="_blank">
                            <div class="card info-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center">

                                        <img src="../../assets/images/cliente.png" alt="" class="image-gruop">
                                    <h5>SUPERINTENDENCIA DE SERVICIOS PÚBLICOS DOMICILIARIOS</h5>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-8 col-md-8">
                    <div class="card-info">
                        Es la entidad que se encarga de vigilar, inspeccionar y controlar el debido cumplimiento del
                        servicio público de empresas como la energía eléctrica, acueducto y alcantarillado, aseo y
                        distribución de gas natural. Puedes acceder a los servicios de la Superservicios a través
                        del
                        siguiente enlace <a
                            href="https://www.superservicios.gov.co/Atencion-y-servicios-a-la-ciudadania"
                            target="_blank">Atención y servicios a la ciudadanía | Superintendencia Servicios
                            Públicos
                            Domiciliarios (superservicios.gov.co)</a>

                    </div>

                </div>
                <div class="col-xxl-4 col-md-4">
                    <div class="animation">
                        <a href="https://www.supertransporte.gov.co/index.php/contactenos/" target="_blank">
                            <div class="card info-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center">

                                        <img src="../../assets/images/transporte-publico.png" alt=""
                                            class="image-gruop">
                                        <h5>SUPERINTENDENCIA DE TRANSPORTE</h5>
                                    </div>
                                </div>


                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xxl-8 col-md-8">
                    <div id="contanier">
                        <div class="card-info">
                            La Superintendencia de Transporte tiene como objetivo principal la vigilancia,
                            inspección, y
                            control en materia de tránsito, transporte y su infraestructura de conformidad con la
                            ley y
                            la delegación establecida en este decreto acceso, seguridad y legalidad, en aras de
                            contribuir a una logística eficiente del sector. Puedes consultar los canales
                            disponibles en
                            Supertransporte a través del siguiente enlace <a
                                href="https://www.supertransporte.gov.co/index.php/contactenos/"
                                target="_blank">Contáctenos - Superintendencia de Transporte
                                (supertransporte.gov.co)</a>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>