<div *ngIf="showArchivos">
  <div class="" *ngIf="complaint.status =='s';">
    <div class="p-5">
      <div class="grid">
        <div class="container">
          <div class="flex align-items-center justify-content-center  overflow-hidden">
            <div class="flex flex-column align-items-center justify-content-center">
              <div
                style="border-radius:56px; padding: 0.5rem; background: linear-gradient(180deg,#FFC700 10%, #2e5aac 50%, #d13204 70%);">
                <div class="w-full surface-card py-1 px-1 sm:px-1" style="border-radius:53px">
                  <div class="text-center mb-1">
                    <img src="/assets/images/logocgr.png" alt="Image" class="image">
                  </div>

                  <div>
                    <div class="p-1 m-3">
                      <div class="col-12 md:col-4">
                        <div class="card info-card exclamation-card">
                          <div class="card-body ">
                            <div class="d-flex align-items-end justify-content-between">
                              <div class="card-title">
                                <h6>Anexos para el caso {{idDenuncia}}</h6>
                              </div>
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="pi pi-exclamation-triangle"></i>
                              </div>
                            </div>
                            <div class="d-flex align-items-center">
                              <div class="ps-3 ticket-description ">
                                
                                <h5>Recuerda adjuntas archivos únicamente que sirvan como evidencia para soportar los hechos descritos en la denuncia, como por ejemplo: fotografías de la obra denunciada, estados de cuentas, documentos sospechosos, entre otros<br>
                                  <br>
                                  El nombre del archivo debe contener sólo números, letras y/o los caracteres -_ Sólo
                                  se admiten archivos con extensiones:
                                  <ul >
                                    <li><i class="pi pi-file-word word-file"></i> doc docx </li>
                                    <li><i class="pi pi-file-excel excel-file"> </i> xls xlsx
                                    </li>
                                    <li><i class="pi pi-file ppt-file"></i> ppt pptx </li>
                                    <li><i class="pi pi-file-pdf pdf-file "></i> pdf </li>
                                    <li><i class="pi pi-images"></i> gif jpeg jpg png</li>

                                  </ul>

                                  Se admiten máximo 100 caracteres en el nombre del archivo incluyendo la extensión.
                                  <br>Se admiten máximo 50 MB en total.
                                  
                                </h5>
                              </div>
                            </div>


                          </div>
                        </div>
                        <div class="p-3">
                          <p-fileUpload name="files" [customUpload]="true" [multiple]="true" accept="application/msword,application/vnd.ms-excel,
                        application/vnd.ms-powerpoint,application/pdf,text/plain,
                        image/bmp,image/gif,image/jpeg,image/png,image/tiff" [maxFileSize]="1000000"
                            chooseLabel="Elegir " uploadLabel="Cargar" cancelLabel="Cancelar"
                            (onSelect)="validateFiles($event)" (uploadHandler)="onUpload($event)"
                            (uploadHandler)="openSubmit($event)" [ngClass]="'custom-file-upload-button'"
                            [chooseStyleClass]="'custom-file-upload-button'">
                            <ng-template pTemplate="content" >
                              
                              <ul *ngIf="uploadedFiles.length" >
                                
                                <li style="background-color: #d13204;" *ngFor="let file of uploadedFiles" >{{file.name}} - {{file.size}}
                                  bytes</li>
                              </ul>
                            
                            </ng-template>
                          
                          </p-fileUpload>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div *ngIf="newAviso">
  <div class="p-5">
    <div class="grid">
      <div class="container">
        <div class="flex align-items-center justify-content-center  overflow-hidden">
          <div class="flex flex-column align-items-center justify-content-center">
            <div
              style="border-radius:56px; padding: 0.5rem; background: linear-gradient(180deg,#FFC700 10%, #2e5aac 50%, #d13204 70%);">
              <div class="w-full surface-card py-1 px-1 sm:px-1" style="border-radius:53px">
                <div class="text-center mb-1">
                  <img src="/assets/images/logocgr.png" alt="Image" class="image">
                </div>

                <div>
                  <div class="p-1 m-3">
                    <div class="col-12 md:col-4">
                      <div class="card info-card exclamation-card">
                        <div class="card-body ">
                          <div class="d-flex align-items-end justify-content-between">
                            <div class="card-title">
                              <h6>Anexos para el caso {{idDenuncia}}</h6>
                            </div>
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="pi pi-exclamation-triangle"></i>
                            </div>
                          </div>
                          <div class="d-flex align-items-center">
                            <div class="ps-3 ticket-description ">
                              <h5> Ya se han subido anexos para esta solicitud de denuncia, recuerda que puedes ver como
                                va tu proceso de denuncia con el número de radicado que se te dio al finalizar el
                                proceso.
                              </h5>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<p-toast [styleClass]="'custom-toast'"></p-toast>

<div *ngIf="complaint.status =='c';">
  <div class="p-5">
    <div class="grid">
      <div class="container">
        <div class="flex align-items-center justify-content-center  overflow-hidden">
          <div class="flex flex-column align-items-center justify-content-center">
            <div
              style="border-radius:56px; padding: 0.5rem; background: linear-gradient(180deg,#FFC700 10%, #2e5aac 50%, #d13204 70%);">
              <div class="w-full surface-card py-1 px-1 sm:px-1" style="border-radius:53px">
                <div class="text-center mb-1">
                  <img src="/assets/images/logocgr.png" alt="Image" class="image">
                </div>

                <div>
                  <div class="p-1 m-3">
                    <div class="col-12 md:col-4">
                      <div class="card info-card exclamation-card">
                        <div class="card-body ">
                          <div class="d-flex align-items-end justify-content-between">
                            <div class="card-title">
                              <h6>Anexos para el caso {{idDenuncia}}</h6>
                            </div>
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="pi pi-exclamation-triangle"></i>
                            </div>
                          </div>
                          <div class="d-flex align-items-center">
                            <div class="ps-3 ticket-description ">
                              <h5> Ya se han subido anexos para esta solicitud de denuncia, recuerda que puedes ver como
                                va tu proceso de denuncia con el número de radicado que se te dio al finalizar el
                                proceso.
                              </h5>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<p-dialog [(visible)]="newCodeDialog" [style]="{width: '450px'}" header="Código de verificación" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">

    </div>
    <div class="field d-flex align-items-center justify-content-center">
      <label class="code">{{complaint.verification_code}}</label>

    </div>
    <div class="info-card d-flex align-items-center justify-content-center">
      <h5>
        Tus archivos se han subido correctamente. Por favor, regresa a tu conversición con Clara, copia, pega y envía el
        código de verificación mostrado en pantalla. 

      </h5>
      <img src="/assets/images/Clara_Avatar-Fondotransparente.png" alt="Image" class="image">
    </div>
  </ng-template>

  <ng-template pTemplate="footer">

  </ng-template>
</p-dialog>