<router-outlet></router-outlet>
<div class="" *ngIf="buttonChatbot; else elseBlock" >
    <button   type="button"  class=" chatbot-button" (click)="changeIcon()" ></button>
</div>
<ng-template #elseBlock> 
    <button   type="button"  class="button-close" (click)="changeIcon()" ><i class="pi 
        pi-times"></i></button>
    <button class=" chatbot-button"  type="button" icon="pi pi-check"  (click)="changeIcon()" ><i class=""></i></button></ng-template>
   

<div class="chatArea"  *ngIf="showChatbot">
    <iframe  src="https://web.powerva.microsoft.com/environments/a3c669f6-ac2e-4e77-ad43-beab3e15bee7/bots/new_bot_92eda80c72ce49128522b11ece4aa71c/webchat" frameborder="0" style="width: 100%; height: 100%;"></iframe>
</div>