.carousel-item{
    width: 100%;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
  }
  .image-cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .image-contain{
   -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .image-custom1{
    background-size: 80%;
  }
  @media (max-width: 600px) {
    .carousel-item {
      height: 200px;
    }
  }
  a {
    color: #D4354D;
    
    text-decoration: none;
}

h2, .h2 {
  font-size: 1.5625rem;
  font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .offset-3 {
    margin-left: 25%;
}
.cols-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.cols-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.rows {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.cols-8 {
  flex: 0 0 63.33333%;
  max-width: 63.33333%;
}
.cols-1 {
  flex: 0 0 11.66667%;
  max-width: 11.66667%;
}
.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 40px;
  background-color: transparent;
  background-image: url('/assets/images/Clara_Avatar-FondotransparenteTranspuesta.png');
  color: black;
  border: 2px solid grey;
  border-radius: 50%; /* Hace el botón más redondo */
  cursor: pointer;
  background-size: contain;
  
}
.chatArea{

  display: flex;
  flex-direction: column;
  height: 500px;
  min-height: 300px;
  width: 530px;
  min-width: 390px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
  border-radius: 2px;
  overflow-wrap: break-word;
  bottom: 80px;
  right: 80px;
    
}
.button-close{
position: fixed;
z-index: 1;
bottom: 545px;
right: 90px;
background-color: transparent;
border: none;
color: white;


}

@media only screen and (max-width: 600px) {
.chatbot-button {
  bottom: 16px;
  right: 16px;
  padding: 33px 33px;
  
  
}

.chatArea{

  height: 100px;
  min-height: 450px;
  width: 300px;
  min-width: 190px;
  bottom: 60px;
  right: 60px;
  
}
.button-close{
bottom: 475px;
right: 70px;
}
}

